html {
  background-color: #eee9de;
  color: #333;
  font-weight: 400;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
  margin: 1.5rem;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
}

section {
  text-align: center;
  padding: 0;
}

.image {
  display: inline-block;
  max-width: 25rem;
  vertical-align: middle;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  padding: .5em;
}

.paragraph {
  display: inline-block;
  max-width: 25rem;
  vertical-align: middle;
  padding: 1em 0 0 .5em;
  text-align: left;
}

h2 {
  display: inline;
  font-weight: bold;
  vertical-align: top;
  text-align: left;

}

p {
  padding: 0 0 1em;
}

.btn {
  border: 3px solid #333;
  border-radius: 10px;
  padding: .75em .75em .75em;
  text-align: center;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #fff;
}
