html {
  background-color: #eee9de;
  color: #333;
  font-weight: 400;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
  margin: 1.5rem;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1.5rem;
  padding: 0 .5rem .5rem
}

section {
  text-align: center;
  padding-bottom: 2em;
}

.image {
  display: inline-block;
  max-width: 25rem;
  vertical-align: middle;
  margin-bottom: 1.5rem;
}

img {
  display: block;
  width: 100%;
}

.paragraph {
  display: inline-block;
  max-width: 25rem;
  vertical-align: middle;
  text-align: left;
  margin: 0 0 1rem;
}

h2 {
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: .5em;
  text-align: top;
}

p {
  margin: 2.5rem 1rem 2rem;
  padding-bottom: 1em;
}

.btn {
  border: 3px solid #333;
  border-radius: 10px;
  padding: .75em .75em .75em;
  text-align: center;
  margin: 1em;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #fff;
}
